{% load anthology_tags %} {% load static %}
<!DOCTYPE hmtl>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/anthology.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div id="content">{% block content %} {% endblock %}</div>
    <div id="sidebar">
      <h2>The anthology.</h2>
      <p>
        This is our art. <br />{% total_posts %} posts have been added so far.
      </p>
      <p>
        <a href="{% url 'anthology:post_feed' %}">
          Subscribe to our RSS feed
        </a>
      </p>
      <h3>Latest posts</h3>
      {% show_latest_posts 3 %}
      <h3>Most commented posts</h3>
      {% get_most_commented_posts as most_commented_posts %}
      <ul>
        {% for post in most_commented_posts %}
        <li>
          <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
